*{
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: blanchedalmond;
    
}
.menu{
    display: flex;
}
.menu li{
    list-style:none;
    padding: 15px 10px;
}
.menu li a{
    padding: 20px;
    text-decoration: none;
    color: tomato ;
    font-weight: 600;
}
.menu li a:hover{
    text-shadow: 3px 3px 8px rgb(211, 152, 152);
}
.container{
    margin-top: 10px;
}
body::before{
    content: "";
    background: url("https://source.unsplash.com/1600x900/?gym,fitness") no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.heading,legend{
    font-size: 2rem;
    text-shadow: 3px 3px 8px white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}
.form{
    text-shadow: 3px 3px 8px white;
    width: 60vw;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}
.form input{
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}
.form textarea{
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}